.terraform/
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually environment-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Exclude sensitive variables files
secrets.auto.tfvars
*secrets*.tfvars

# Exclude lock files if your infrastructure is not stable yet
.terraform.lock.hcl

# Exclude local development files
.env
*.pem
*.key
